/*
 * -- Global Sass Variables --
 * These are variables that will be used throughout the ui, and are not specific
 * to a single state.
 *
 */

$header-height: 72px;
$emoviato-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$card-background-color: #f1f1f1;
$bs-info-color: #5bc0de;
$bs-success-color: #5cb85c;
$bs-primary-color: #0275d8;
$bs-danger-color: #d9534f;
$bs-active-color: #025aa5;
$border-radius: 4px;

$funny-color: #03A9F4;
$mad-color: #d32f2f;
$happy-color: #FFEB3B;
$lit-color: #FF9800;
$sad-color: #3551B5;

@mixin no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* End global sass variables */


/* Global styles */

.container-fluid {
  padding: 0;
  margin: 0;
}

.content {
  position: relative;
  background-color: #fdfdfd;
  }


#trend-background {
  background-color: #fdfdfd;
}


/* end Global Sytles */

.home-view {

  .jumbotron {
    padding-top: 37px;
  }

  .emoviato-heading {
    background-color: $bs-active-color;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 45px;
  }

  .emoviato-ascii {
    overflow: hidden;
  }

  .card-deck-wrapper {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .card-block {
    padding: 0;
  }

  .card-header {
    margin-bottom: 0;
    min-width: 100%;
  }

  .trend-card {
    margin-bottom: 23px;
    box-shadow: $emoviato-shadow;

    .card-img-botttom {
      min-width: 100%;
      min-height: 100%;
    }

  }

}

.spacer-row {
  margin: 45px;
}

.footer-spacer {
  margin-bottom: 300px;
}

.highcharts-data-label {
  text {
    font-size: 25px !important;
  }
}

.highcharts-xaxis-labels {
  text {
    font-size: 18px !important;
  }
}

.trend-report {

  box-shadow: $emoviato-shadow;
  background-color: #fff;

  #current-trend-header {
    margin-bottom: 0;
    min-width: 100%;
  }

  .home-btn {
    min-width: 100%;
    font-size: 30px;
  }

  .card-img-top {
    min-width: 100%;
  }

  .card {
    padding: 0%;
    //box-shadow: $emoviato-shadow;
  }

  .card-block {
    padding: 0;
  }

  .card-img-top {
    border-radius: 0;
  }

  .card-text {
    padding: 3%;
  }

  .top-tweet {
    margin-top: 45px;
  }

  .top-emoji {
    margin-top: 20px;
  }

  .trend-card {
    margin-left: 45px;
    margin-top: 45px;
  }

  .big-text {
    margin-left: 45px;
  }

  // Funny pie slice
  .highcharts-color-0 {
    fill: $funny-color;
    stroke: $funny-color;
  }

  // mad pie slice
  .highcharts-color-1 {
    fill: $mad-color;
    stroke: $mad-color;
  }

  // happy pie slice
  .highcharts-color-2 {
    fill: $happy-color;
    stroke: $happy-color;
  }

  // lit pie slice
  .highcharts-color-3 {
    fill: $lit-color;
    stroke: $lit-color;
  }

  // sad pie slice
  .highcharts-color-4 {
    fill: $sad-color;
    stroke: $sad-color;
  }

  .highcharts-data-label-connector.highcharts-color-0 {
    fill: none;
  }

  .highcharts-data-label-connector.highcharts-color-1 {
    fill: none;
  }

  .highcharts-data-label-connector.highcharts-color-2 {
    fill: none;
  }

  .highcharts-data-label-connector.highcharts-color-3 {
    fill: none;
  }

  .highcharts-data-label-connector.highcharts-color-4 {
    fill: none;
  }

}
