<div class="home-view">
  <div class="jumbotron jumbotron-fluid emoviato-heading">
    <div class="container">
      <pre class="text-warning text-xs-center emoviato-ascii">
███████╗ ███╗   ███╗  ██████╗  ██╗   ██╗ ██╗  █████╗  ████████╗  ██████╗
██╔════╝ ████╗ ████║ ██╔═══██╗ ██║   ██║ ██║ ██╔══██╗ ╚══██╔══╝ ██╔═══██╗
█████╗   ██╔████╔██║ ██║   ██║ ██║   ██║ ██║ ███████║    ██║    ██║   ██║
██╔══╝   ██║╚██╔╝██║ ██║   ██║ ╚██╗ ██╔╝ ██║ ██╔══██║    ██║    ██║   ██║
███████╗ ██║ ╚═╝ ██║ ╚██████╔╝  ╚████╔╝  ██║ ██║  ██║    ██║    ╚██████╔╝
╚══════╝ ╚═╝     ╚═╝  ╚═════╝    ╚═══╝   ╚═╝ ╚═╝  ╚═╝    ╚═╝     ╚═════╝
      </pre>
        <h1 class="text-success text-xs-center display-4">
          <i class="twa twa-joy"></i>
          <i class="twa twa-fire"></i>
          <i class="twa twa-tired-face"></i>
        </h1>
    </div>
  </div>
  <div class="card-deck-wrapper">
      <div class="card-deck">
      <div class="card card-outline-primary trend-card" ng-repeat="trend in homeController.topTrends" ng-click="homeController.goToTrendReport(trend)">
        <span class="card-header fa fa-lg fa-hashtag trend-card-title" ng-bind="trend.name"></span>
        <div class="card-block">
          <img class="card-img-botttom img-fluid trend-card-image" src="{{trend.img_url}}" alt="Card image cap">
        </div>
      </div>
     </div>
  </div>
</div>